{{ 'logo-text.css' | asset_url | stylesheet_tag }}

<style>
  
  #section-{{ section.id }} {
    background: {{ section.settings.background }};
    padding-top: {{ section.settings.section_padding_y }}px;
    padding-bottom: {{ section.settings.section_padding_y }}px;
    padding-left: {{ section.settings.section_padding_x }}px;
    padding-right: {{ section.settings.section_padding_x }}px;
    color: {{ section.settings.text_color}};
  }
  
  .contact-us-icons_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    text-align: center;
  }

  .contact-us-icons_items{
    display: flex;
    flex-direction: column;
  }

  .contact-us-image_container{
    max-height: 30px;
  }

  .contact-us-icons_items.border-right{
    border-right: solid 1px black;
  }

  @media only screen and (max-width: 48em) {
    
  }

</style>

<div id="section-{{ section.id }}">
  <div class="contact-us-icons_container">
    {%- for block in section.blocks -%}
      <div class="contact-us-icons_items {% if section.settings.reverse_layout %} border-right{% endif %}" {{ block.shopify_attributes }}>
        <div class="contact-us-image_container">
          {%- if block.settings.image != blank -%}
            {{
              block.settings.image
              | image_url: width: 600
              | image_tag: height: 50, alt: block.settings.image.alt, preload: true
            }}
          {%- else -%}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
        <div class="item-details"> 
          {%- if block.settings.title != blank -%}
            <h2 class="item-title">{{ block.settings.title }}</h2>
          {%- endif -%}
          {%- if block.settings.description != blank -%}
            <div class="contact-us-icons_description">{{ block.settings.description }}</div>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>


{% schema %}
{
  "name": "Contact Us Icons",
  "tag": "section",
  "class": "contact-us-icons-section shopify-section page-width",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#1c1b1b"
    },
    {
      "type": "range",
      "id": "section_padding_y",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Top & Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "section_padding_x",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Left & Right",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Contact Us Icon",
      "type": "title",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Header",
          "default": "Item Header"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "checkbox",
          "id": "border-right",
          "label": "Border-right",
          "default": false
        }

      ]
    }
  ],
  "presets": [
    {
      "name": "Contact Us Icons",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}
