{{ 'image-with-line.css' | asset_url | stylesheet_tag }}

<style>
  
  #section-{{ section.id }} {
    background: {{ section.settings.background }};
    padding-top: {{ section.settings.section_padding_y }}px;
    padding-bottom: {{ section.settings.section_padding_y }}px;
    padding-left: {{ section.settings.section_padding_x }}px;
    padding-right: {{ section.settings.section_padding_x }}px;
    color: {{ section.settings.text_color}};
  }

  .line-text-container{
    display: flex;
  }

  .header-line{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .line:empty {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    display: block;
  }

</style>

<div id="section-{{ section.id }}">
  <div class="line-text-container">
    <div class="iwl-header">
      {%- if section.settings.title != blank -%}
        <div class="header-line"> 
          <div class="line"></div>
          <h3>{{ section.settings.title }}</h3>
          <div class="line"></div>
        </div>
      {%- endif -%}
      
      {%- if section.settings.section_description != blank -%}
        {{ section.settings.section_description }}
      {%- endif -%}
    </div>

    <div>
      {%- for block in section.blocks -%}
      <div class="more-info_items" {{ block.shopify_attributes }}>
        <div class="more-info-image_container">
          {%- if block.settings.image != blank -%}
            {{
              block.settings.image
              | image_url: width: 600
              | image_tag: height: 70, alt: block.settings.image.alt, preload: true
            }}
          {%- else -%}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
        <div class="item-details"> 
          {%- if block.settings.title != blank -%}
            <div class="item-title">{{ block.settings.title }}</div>
          {%- endif -%}
          {%- if block.settings.description != blank -%}
            <div class="more-info_items_description">{{ block.settings.description }}</div>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
    </div>
    
  </div>
</div>

{% schema %}
{
  "name": "Image With Line",
  "tag": "section",
  "class": "image-with-line shopify-section page-width",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "OUR REVIEWS"
    },
    {
      "type": "select",
      "id": "header_font_size",
      "label": "Font size",
      "default": "30px",
      "options": [
        {
          "label": "Small",
          "value": "20px"
        },
        {
          "label": "Medium",
          "value": "25px"
        },
        {
          "label": "Large",
          "value": "30px"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "Section Description"
    },
    {
      "type": "select",
      "id": "sub_header_font_size",
      "label": "Description Font size",
      "default": "18px",
      "options": [
        {
          "label": "Small",
          "value": "16px"
        },
        {
          "label": "Medium",
          "value": "18px"
        },
        {
          "label": "Large",
          "value": "20px"
        }
      ]
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#1c1b1b"
    },
    {
      "type": "range",
      "id": "section_padding_y",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Top & Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "section_padding_x",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Left & Right",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "title",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "font_size",
          "label": "Font size",
          "default": "20px",
          "options": [
            {
              "label": "Small",
              "value": "16px"
            },
            {
              "label": "Medium",
              "value": "20px"
            },
            {
              "label": "Large",
              "value": "24px"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image",
      "blocks": [
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}
