<style>
  #section-{{ section.id }} {
    background: {{ section.settings.background }};
  }

  .more-info_container p{
    color: {{ section.settings.text_color }};
  }

  .more-info_container h2, .more-info_container h3{
    color: {{ section.settings.header_color }};
  }

  .more-info_container {
    display: flex;
    flex-direction: column;
   	align-items: center;
    gap: 90px;
  }

  .more-info_header_container {
    text-align: center;
  }

  .more-info_header_container p{
    max-width: 400px;
  }

  .more-info_items_container{
    display: flex;
    align-items: center;
    justify-content: center;
  	gap: 50px;
  }

  .more-info_items{
    width: calc(100% / {{ section.settings.number_of_columns }});
  	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .more-info_items img{
    height: 80px;
    margin-bottom: 20px;
  }

  .more-info_items_description{
    max-width: 400px;
  }

  @media screen and (max-width: 640px) {
    .more-info_container {
      padding-right: 20px;
      padding-left: 20px;
    }

    .more-info_items_container {
      flex-direction: column;
    }

    .more-info_items{
    width: 100%;
    }
  }
</style>

  <div class="more-info-header">
    {%- if section.settings.title != blank -%}
      <div class="more-info-line"> 
        <div class="line"></div>
        <h2>{{ section.settings.title }}</h2>
        <div class="line"></div>
      </div>
    {%- endif -%}
    
    {%- if section.settings.section_description != blank -%}
      {{ section.settings.section_description }}
    {%- endif -%}
  </div>

  <div class="more-info_items_container">
    {%- for block in section.blocks -%}
      <div class="more-info_items" {{ block.shopify_attributes }}>
        <div class="more-info-image_container">
          {%- if block.settings.image != blank -%}
            {{
              block.settings.image
              | image_url: width: 600
              | image_tag: height: 70, alt: block.settings.image.alt, preload: true
            }}
          {%- else -%}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
        {%- if block.settings.title != blank -%}
          <h3 class="SectionHeader__SubHeading Heading u-h4">{{ block.settings.title }}</h3>
        {%- endif -%}
        {%- if block.settings.description != blank -%}
          <div class="more-info_items_description">{{ block.settings.description }}</div>
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>


{% schema %}
{
  "name": "More Info Section",
  "tag": "section",
  "class": "more-info-section shopify-section page-width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Header",
      "default": "This is the section header"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Section Description"
    }
  ],
  "blocks": [
    {
      "name": "New Item",
      "type": "title",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Header",
          "default": "Item Header"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "More Info Section",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}
