{{ 'logo-text.css' | asset_url | stylesheet_tag }}

<style>
  
  #section-{{ section.id }} {
    background: {{ section.settings.background }};
    padding-top: {{ section.settings.section_padding_y }}px;
    padding-bottom: {{ section.settings.section_padding_y }}px;
    padding-left: {{ section.settings.section_padding_x }}px;
    padding-right: {{ section.settings.section_padding_x }}px;
    color: {{ section.settings.header_color }};
  }
  
  .more-info-header h2{
    font-size: {{ section.settings.header_font_size }};
  }

  .more-info-header p{
    font-size: {{ section.settings.sub_header_font_size }};
  }

  @media only screen and (max-width: 48em) {
    .more-info-header h2{
      font-size: 20px;
    }
  
    .more-info-header p{
      font-size: 16px;
    }
  
    .more-info_items_description p {
      max-width: 150px;
    }
  }

</style>

<div id="section-{{ section.id }}">
  <div class="more-info-header">
    {%- if section.settings.title != blank -%}
      <div class="more-info-line"> 
        <div class="line"></div>
        <h2>{{ section.settings.title }}</h2>
        <div class="line"></div>
      </div>
    {%- endif -%}
    
    {%- if section.settings.section_description != blank -%}
      {{ section.settings.section_description }}
    {%- endif -%}
  </div>

  <div class="more-info_items_container">
    {%- for block in section.blocks -%}
      <div class="more-info_items" {{ block.shopify_attributes }}>
        <div class="more-info-image_container">
          {%- if block.settings.image != blank -%}
            {{
              block.settings.image
              | image_url: width: 600
              | image_tag: height: 70, alt: block.settings.image.alt, preload: true
            }}
          {%- else -%}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
        <div class="item-details"> 
          {%- if block.settings.title != blank -%}
            <h3 class="item-title">{{ block.settings.title }}</h3>
          {%- endif -%}
          {%- if block.settings.description != blank -%}
            <div class="more-info_items_description">{{ block.settings.description }}</div>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>


{% schema %}
{
  "name": "More Info Section",
  "tag": "section",
  "class": "more-info-section shopify-section page-width",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Header",
      "default": "This is the section header"
    },
    {
      "type": "select",
      "id": "header_font_size",
      "label": "Font size",
      "default": "30px",
      "options": [
        {
          "label": "Small",
          "value": "20px"
        },
        {
          "label": "Medium",
          "value": "25px"
        },
        {
          "label": "Large",
          "value": "30px"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "Section Description"
    },
    {
      "type": "select",
      "id": "sub_header_font_size",
      "label": "Description Font size",
      "default": "18px",
      "options": [
        {
          "label": "Small",
          "value": "16px"
        },
        {
          "label": "Medium",
          "value": "18px"
        },
        {
          "label": "Large",
          "value": "20px"
        }
      ]
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#1c1b1b"
    },
    {
      "type": "range",
      "id": "section_padding_y",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Top & Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "section_padding_x",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Left & Right",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "New Item",
      "type": "title",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Header",
          "default": "Item Header"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "More Info Section",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}
