<style>
  .more-info-section{
    padding-top: 36px;
    padding-bottom: 36px;
  }
  
  .more-info-header{
    text-align: center;
  }

  .more-info-header h2{
    letter-spacing: 2px;
    font-size: 30px;
    font-family: Arial, sans-serif;
  }

  .more-info-header p{
    letter-spacing: 1px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: #000000d4;
    margin: 0;
    padding: 0;
  }

  .more-info-line{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .line:empty {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    display: block;
  }

  .more-info_items_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 30px;
  }

  .more-info_items {
    text-align: center;
  }

  .item-details{
    
  }

  .item-title{
    font-weight: 600;
    color: #000000;
  }

  .more-info_items_description p{
    margin: 0;
    padding: 0;
    max-width: 200px;
  }
</style>

  <div class="more-info-header">
    {%- if section.settings.title != blank -%}
      <div class="more-info-line"> 
        <div class="line"></div>
        <h2>{{ section.settings.title }}</h2>
        <div class="line"></div>
      </div>
    {%- endif -%}
    
    {%- if section.settings.section_description != blank -%}
      {{ section.settings.section_description }}
    {%- endif -%}
  </div>

  <div class="more-info_items_container">
    {%- for block in section.blocks -%}
      <div class="more-info_items" {{ block.shopify_attributes }}>
        <div class="more-info-image_container">
          {%- if block.settings.image != blank -%}
            {{
              block.settings.image
              | image_url: width: 600
              | image_tag: height: 70, alt: block.settings.image.alt, preload: true
            }}
          {%- else -%}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
        </div>
        <div class="item-details"> 
          {%- if block.settings.title != blank -%}
            <h3 class="item-title">{{ block.settings.title }}</h3>
          {%- endif -%}
          {%- if block.settings.description != blank -%}
            <div class="more-info_items_description">{{ block.settings.description }}</div>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </div>


{% schema %}
{
  "name": "More Info Section",
  "tag": "section",
  "class": "more-info-section shopify-section page-width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Header",
      "default": "This is the section header"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "Section Description"
    }
  ],
  "blocks": [
    {
      "name": "New Item",
      "type": "title",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Header",
          "default": "Item Header"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "More Info Section",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}
