<style>
  .personal-section{
    padding-top: 36px;
    padding-bottom: 36px;
  }
  
  .personal-header{
    text-align: center;
  }

  .personal-header h2{
    letter-spacing: 2px;
    font-size: 30px;
    font-family: Arial, sans-serif;
  }

  .personal-header p{
    letter-spacing: 1px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: #000000d4;
    margin: 0;
    padding: 0;
  }

  .personal-line{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .line:empty {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    display: block;
  }

  .personal-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
  }

  .staff-container {
    text-align: center;
  }

  .staff-image-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .staff-image-container img {
    width: 100%;
    object-fit: cover;
  }

  .staff-details{
    margin-top: 20px;
  }

  .staff-name{
    font-weight: 600;
    color: #000000;
  }

  .job_description p{
    margin: 0;
    padding: 0;
  }

  .button-container{
    display:flex;
    justify-content: center;
    margin-top: 20px;
  }

  @media only screen and (max-width: 48em) {
    .personal-container{
      flex-direction: column;
    }
  }
</style>

  <div class="personal-header">
    {%- if section.settings.title != blank -%}
      <div class="personal-line"> 
        <div class="line"></div>
        <h2>{{ section.settings.title }}</h2>
        <div class="line"></div>
      </div>
    {%- endif -%}
    
    {%- if section.settings.section_description != blank -%}
      {{ section.settings.section_description }}
    {%- endif -%}
  </div>

  <div class="personal-container">
    {%- for block in section.blocks -%}
      <div class="staff-container" {{ block.shopify_attributes }}>
          <div class="staff-image-container"> 
            {%- if block.settings.staff_image != blank -%}
              {{
                block.settings.staff_image
                | image_url: width: '160x160'
                | image_tag: block.settings.staff_image.alt, '160x160'
              }}
            {%- endif -%}
          </div>

          <div class="staff-details"> 
            {%- if block.settings.title != blank -%}
              <div class="staff-name">{{ block.settings.title }}</div>
            {%- endif -%}
  
            {%- if block.settings.description != blank -%}
              <div class="job_description">
                {{ block.settings.description -}}
              </div>
            {%- endif -%}
          </div>
      </div>
    {%- endfor -%}
  </div>

  {%- if section.settings.join_button != blank -%}
  <div class="button-container">
    <a {% if section.settings.button_link == blank %}
    role="link" aria-disabled="true"
    {% else %}
    href="{{ section.settings.button_link }}"
    {% endif %} class="button{% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">{{ section.settings.join_button }}</a>
  </div>
  {%- endif -%}

{% schema %}
{
  "name": "Personal",
  "tag": "section",
  "class": "personal-section shopify-section page-width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "MEET THE TEAM"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "Section Description"
    },
    {
      "type": "richtext",
      "id": "join_button",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
    }
  ],
  "blocks": [
    {
      "name": "Staff",
      "type": "title",
      "settings": [
        {
          "type": "image_picker",
          "id": "staff_image",
          "label": "Staff image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Name"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Job Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Staff",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}