{{ 'personal.css' | asset_url | stylesheet_tag }}

<style>
  
  #section-{{ section.id }} {
    background: {{ section.settings.background }};
    padding-top: {{ section.settings.section_padding_y }}px;
    padding-bottom: {{ section.settings.section_padding_y }}px;
    padding-left: {{ section.settings.section_padding_x }}px;
    padding-right: {{ section.settings.section_padding_x }}px;
  }
  
  .personal-header h2{
    color: {{ section.settings.header_color }};
    font-size: {{ section.settings.header_font_size }};
  }

  .personal-header p{
    font-size: {{ section.settings.sub_header_font_size }};
    color: {{ section.settings.header_color }};
  }

  @media only screen and (max-width: 48em) {
    .personal-header h2{
      font-size: 20px;
    }
  
    .personal-header p{
      font-size: 16px;
    }
  }

</style>

<div id="section-{{ section.id }}">
  <div class="personal-header">
    {%- if section.settings.title != blank -%}
      <div class="personal-line"> 
        <div class="line"></div>
        <h2>{{ section.settings.title }}</h2>
        <div class="line"></div>
      </div>
    {%- endif -%}
    
    {%- if section.settings.section_description != blank -%}
      {{ section.settings.section_description }}
    {%- endif -%}
  </div>

  <div class="personal-container">
    {%- for block in section.blocks -%}
      <div class="staff-container" {{ block.shopify_attributes }}>
          <div class="staff-image-container"> 
            {%- if block.settings.staff_image != blank -%}
              {{
                block.settings.staff_image
                | image_url: width: '160x160'
                | image_tag: block.settings.staff_image.alt, '160x160'
              }}
            {%- endif -%}
          </div>

          <div class="staff-details"> 
            {%- if block.settings.title != blank -%}
              <div class="staff-name">{{ block.settings.title }}</div>
            {%- endif -%}
  
            {%- if block.settings.description != blank -%}
              <div class="job_description">
                {{ block.settings.description -}}
              </div>
            {%- endif -%}
          </div>
      </div>
    {%- endfor -%}
  </div>

    {%- if section.settings.join_button != blank -%}
    <div class="button-container">
      <a {% if section.settings.button_link == blank %}
      role="link" aria-disabled="true"
      {% else %}
      href="{{ section.settings.button_link }}"
      {% endif %} class="button{% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">{{ section.settings.join_button }}</a>
    </div>
    {%- endif -%}
  </div>

{% schema %}
{
  "name": "Personal",
  "tag": "section",
  "class": "personal-section shopify-section page-width",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "MEET THE TEAM"
    },
    {
      "type": "select",
      "id": "header_font_size",
      "label": "Font size",
      "default": "30px",
      "options": [
        {
          "label": "Small",
          "value": "20px"
        },
        {
          "label": "Medium",
          "value": "25px"
        },
        {
          "label": "Large",
          "value": "30px"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "Section Description"
    },
    {
      "type": "select",
      "id": "sub_header_font_size",
      "label": "Description Font size",
      "default": "18px",
      "options": [
        {
          "label": "Small",
          "value": "16px"
        },
        {
          "label": "Medium",
          "value": "18px"
        },
        {
          "label": "Large",
          "value": "20px"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "join_button",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#1c1b1b"
    },
    {
      "type": "range",
      "id": "section_padding_y",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Top & Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "section_padding_x",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Left & Right",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Staff",
      "type": "title",
      "settings": [
        {
          "type": "image_picker",
          "id": "staff_image",
          "label": "Staff image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Name"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Job Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Staff",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}