{{ 'testimonials.css' | asset_url | stylesheet_tag }}

<style>
  
  #section-{{ section.id }} {
    background: {{ section.settings.background }};
    padding-top: {{ section.settings.section_padding_y }}px;
    padding-bottom: {{ section.settings.section_padding_y }}px;
    padding-left: {{ section.settings.section_padding_x }}px;
    padding-right: {{ section.settings.section_padding_x }}px;
    color: {{ section.settings.text_color}};
  }
  
  .secondary-footer-block-title{
    font-size: {{ section.blocks.settings.font_size }};
  }

  .secondary-footer_description{
    font-size: {{ section.blocks.settings.font_size }};
  }

  .secondary-footer-flex-container{
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  .secondary-footer-block-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    flex: 1;
  }

  .secondary-footer-information-header{
    text-align: center;
    color: #848484;
    border-top: 1px solid #dbdbdb;
  }

  .secondary-footer-information-header a{
    margin-right: 5px;
  }

  .secondary-footer-menu a{
    text-decoration: none;
    margin: 0;
    padding: 0;
  }

  .secondary-footer-menu{
    margin: 0;
    padding: 0;
  }

  .secondary-footer-menu li{
    list-style: none;
  }

  .secondary-footer-content-container {
    display: flex;
  }

  .secondary-footer-nav-and-text{
    display: flex;
    flex-direction: column;
  }

  .secondary-footer-logo-image img{
    max-height: 20px;
  }

  .secondary-footer-logo-title-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .secondary-footer_description p{
    margin: 0;
  }

  .contact-and-social-container {
    display: flex;
    flex-direction: column;
  }

  .secondary-footer-social-container{
    margin-top: 5px;
  }
  
</style>

<div id="section-{{ section.id }}">
  <div class="secondary-footer-flex-container"> 
  <div class="secondary-footer-block-container">

    {%- if section.settings.main_footer_menu_title != blank -%}
        <div class="secondary-footer-information-header"> 
          {{ section.settings.main_footer_menu_title }}
        </div>
      {%- endif -%}

     <ul class="secondary-footer-menu">
            {% for link in section.settings.main_footer-menu.links %}
              <li class="menu-link">
                <a href="{{ link.url }}">{{ link.title }}</a>
          
                {% if link.links.size > 0 %}
                  <ul class="menu dropdown-child">
                    {% for child_link in link.links %}
                      <li class="menu-link">
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
          
                        {% if child_link.links.size > 0 %}
                          <ul class="menu dropdown-grandchild">
                            {% for grandchild_link in child_link.links %}
                              <li class="menu-link">
                                <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
    
    <div class="secondary-footer-content-container">
      {%- for block in section.blocks -%}
        <div class="secondary-footer-nav-and-text">
          <div class="secondary-footer-menu-container"> 
              {%- if block.settings.footer_menu_title != blank -%}
                <div class="secondary-footer-block-title">{{ block.settings.footer_menu_title }}</div>
              {%- endif -%}
          </div>
          <ul class="secondary-footer-menu">
            {% for link in block.settings.footer-menu.links %}
              <li class="menu-link">
                <a href="{{ link.url }}">{{ link.title }}</a>
          
                {% if link.links.size > 0 %}
                  <ul class="menu dropdown-child">
                    {% for child_link in link.links %}
                      <li class="menu-link">
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>
          
                        {% if child_link.links.size > 0 %}
                          <ul class="menu dropdown-grandchild">
                            {% for grandchild_link in child_link.links %}
                              <li class="menu-link">
                                <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      {%- endfor -%}
    </div>


    <div class="contact-and-social-container"> 
      {%- for block in section.blocks -%}
        <div class="secondary-footer-contact-container"> 
                {%- if block.settings.footer_contact_title != blank -%}
                  <div class="secondary-footer-block-title">{{ block.settings.footer_contact_title }}</div>
                {%- endif -%}

                <div class="secondary-footer-contact-inner">
                  <div class="secondary-footer-logo-title-container">
                    <div class="secondary-footer-logo-image"> 
                      {%- if block.settings.phone_logo != blank -%} 
                        {{ block.settings.phone_logo 
                          | image_url: width: 600
                          | image_tag: height: 50, alt: block.settings.phone_logo.alt, preload: true
                        }} 
                        {%- endif -%} 
                    </div>
                    {%- if block.settings.phone != blank -%}
                      <div class="secondary-footer_description">
                        {{ block.settings.phone -}}
                      </div>
                    {%- endif -%}
                    </div>
  
                  <div class="secondary-footer-logo-title-container">
                    <div class="secondary-footer-logo-image"> 
                      {%- if block.settings.location_logo != blank -%} 
                        {{ block.settings.location_logo 
                          | image_url: width: 600
                          | image_tag: height: 50, alt: block.settings.location_logo.alt, preload: true
                        }} 
                        {%- endif -%} 
                      </div>
                      {%- if block.settings.location != blank -%}
                        <div class="secondary-footer_description">
                          {{ block.settings.location -}}
                        </div>
                      {%- endif -%}
                    </div>
                </div>
          </div>
      {%- endfor -%}


      {%- for block in section.blocks -%}
         <div class="secondary-footer-social-container">
                {%- if block.settings.footer_social_title != blank -%}
                  <div class="secondary-footer-block-title">{{ block.settings.footer_social_title }}</div>
                {%- endif -%}
                    <div class="secondary-footer-logo-image"> 
                      {%- if block.settings.instagram_logo != blank -%} 
                        {{ block.settings.instagram_logo 
                          | image_url: width: 600
                          | image_tag: height: 50, alt: block.settings.instagram_logo.alt, preload: true
                        }} 
                        {%- endif -%} 
                      </div>
                      {%- if block.settings.instagram != blank -%}
                      <div class="secondary-footer_description">
                  {{ block.settings.instagram -}}
                </div>
              {%- endif -%}
          </div>
      {%- endfor -%}
    </div>
    </div>
  
    {%- if section.settings.secondary_footer_information != blank -%}
        <div class="secondary-footer-information-header"> 
          {{ section.settings.secondary_footer_information }}
        </div>
      {%- endif -%}
    </div>
</div>

{% schema %}
{
  "name": "Secondary Footer",
  "tag": "section",
  "class": "secondary-foooter-section shopify-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "main_footer_menu_title",
      "label": "Item Title"
    },
    {
      "type": "link_list",
      "id": "main_footer-menu",
      "label": "Menu"
    },
    {
      "type": "richtext",
      "id": "secondary_footer_information",
      "label": "Footer Information"
    },
    {
      "type": "select",
      "id": "header_font_size",
      "label": "Font size",
      "default": "30px",
      "options": [
        {
          "label": "Small",
          "value": "20px"
        },
        {
          "label": "Medium",
          "value": "25px"
        },
        {
          "label": "Large",
          "value": "30px"
        }
      ]
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#1c1b1b"
    },
    {
      "type": "range",
      "id": "section_padding_y",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Top & Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "section_padding_x",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Left & Right",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Footer_Menu",
      "type": "title",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "footer_menu_title",
          "label": "Item Title"
        },
        {
          "type": "link_list",
          "id": "footer-menu",
          "label": "Menu"
        }
      ]
    },
    {
      "name": "Footer_Contact",
      "type": "text",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "footer_contact_title",
          "label": "Item Title"
        },
        {
          "type": "richtext",
          "id": "phone",
          "label": "Phone Number"
        },
        {
          "type": "image_picker",
          "id": "phone_logo",
          "label": "Phone Logo"
        },
        {
          "type": "richtext",
          "id": "location",
          "label": "Location"
        },
        {
          "type": "image_picker",
          "id": "location_logo",
          "label": "Location logo"
        },
        {
          "type": "richtext",
          "id": "instagram",
          "label": "Instagram"
        },
        {
          "type": "image_picker",
          "id": "instagram_logo",
          "label": "Instagram logo"
        }
      ]
    },
    {
      "name": "Footer_Social",
      "type": "social",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "footer_social_title",
          "label": "Item Title"
        },
        {
          "type": "richtext",
          "id": "instagram",
          "label": "Instagram"
        },
        {
          "type": "image_picker",
          "id": "instagram_logo",
          "label": "Instagram logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sub_Footer",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "text"
        },
        {
          "type": "social"
        }
      ]
    }
  ]
}
{% endschema %}
