{{ 'testimonials.css' | asset_url | stylesheet_tag }}

<style>
  
  #section-{{ section.id }} {
    background: {{ section.settings.background }};
    padding-top: {{ section.settings.section_padding_y }}px;
    padding-bottom: {{ section.settings.section_padding_y }}px;
    padding-left: {{ section.settings.section_padding_x }}px;
    padding-right: {{ section.settings.section_padding_x }}px;
    color: {{ section.settings.text_color}};
  }
  
  .secondary-footer-block-title{
    font-size: {{ section.blocks.settings.font_size }};
  }

  .secondary-footer_description{
    font-size: {{ section.blocks.settings.font_size }};
  }

  .secondary-footer-block-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }

  .secondary-footer_description p{
    padding: 0;
    margin: 0;
  }


  .secon-footer-logo-title-container{
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .secon-footer-logo-title-container img{
    display: flex;
    max-height: 20px;
  }

  .secondary-footer-information-header{
    text-align: center;
    color: #848484;
    border-top: 1px solid #dbdbdb;
  }
  
</style>

<div id="section-{{ section.id }}">  
  <div class="secondary-footer-block-container">
      {%- for block in section.blocks -%}
        <div class="secondary-footer-content-container" {{ block.shopify_attributes }}>
          <div class="secondary-footer-content-container-inner">
            <div class="secondary-footer-menu-container"> 
              {%- if block.settings.footer_menu_title != blank -%}
                <div class="secondary-footer-block-title">{{ block.settings.footer_menu_title }}</div>
              {%- endif -%}
              
            </div>

            <div> 
              {%- if block.settings.footer_contact_title != blank -%}
                <div class="secondary-footer-block-title">{{ block.settings.footer_contact_title }}</div>
              {%- endif -%}

              <div class="secon-footer-contact">
                <div class="secon-footer-logo-title-container">
                  <div class="testimonial-logo_container"> 
                    {%- if block.settings.phone_logo != blank -%} 
                      {{ block.settings.phone_logo 
                        | image_url: width: 600
                        | image_tag: height: 50, alt: block.settings.phone_logo.alt, preload: true
                      }} 
                      {%- endif -%} 
                  </div>
                  {%- if block.settings.phone != blank -%}
                    <div class="secondary-footer_description">
                      {{ block.settings.phone -}}
                    </div>
                  {%- endif -%}
                  </div>

                <div class="secon-footer-logo-title-container">
                  <div class="testimonial-logo_container"> 
                    {%- if block.settings.location_logo != blank -%} 
                      {{ block.settings.location_logo 
                        | image_url: width: 600
                        | image_tag: height: 50, alt: block.settings.location_logo.alt, preload: true
                      }} 
                      {%- endif -%} 
                    </div>
                    {%- if block.settings.location != blank -%}
                      <div class="secondary-footer_description">
                        {{ block.settings.location -}}
                      </div>
                    {%- endif -%}
                  </div>
              </div>

              <div class="secon-footer-contact">
              <div class="secon-footer-logo-title-container">
                  <div class="testimonial-logo_container"> 
                    {%- if block.settings.instagram_logo != blank -%} 
                      {{ block.settings.instagram_logo 
                        | image_url: width: 600
                        | image_tag: height: 50, alt: block.settings.instagram_logo.alt, preload: true
                      }} 
                      {%- endif -%} 
                    </div>
                    {%- if block.settings.instagram != blank -%}
                      <div class="secondary-footer_description">
                        {{ block.settings.instagram -}}
                      </div>
                    {%- endif -%}
                </div>
            </div>
              </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  
    {%- if section.settings.secondary_footer_information != blank -%}
        <div class="secondary-footer-information-header"> 
          {{ section.settings.secondary_footer_information }}
        </div>
      {%- endif -%}
</div>

{% schema %}
{
  "name": "Secondary Footer",
  "tag": "section",
  "class": "secondary-foooter-section shopify-section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "secondary_footer_information",
      "label": "Footer Information"
    },
    {
      "type": "select",
      "id": "header_font_size",
      "label": "Font size",
      "default": "30px",
      "options": [
        {
          "label": "Small",
          "value": "20px"
        },
        {
          "label": "Medium",
          "value": "25px"
        },
        {
          "label": "Large",
          "value": "30px"
        }
      ]
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#1c1b1b"
    },
    {
      "type": "range",
      "id": "section_padding_y",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Top & Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "section_padding_x",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Left & Right",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Footer_Menu",
      "type": "title",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "footer_menu_title",
          "label": "Item Title"
        },
        {
          "type": "select",
          "id": "font_size",
          "label": "Font size",
          "default": "20px",
          "options": [
            {
              "label": "Small",
              "value": "16px"
            },
            {
              "label": "Medium",
              "value": "20px"
            },
            {
              "label": "Large",
              "value": "24px"
            }
          ]
        },
        {
          "type": "link_list",
          "id": "footer-menu",
          "label": "Menu"
        }
      ]
    },
    {
      "name": "Footer_Contact",
      "type": "text",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "footer_contact_title",
          "label": "Item Title"
        },
        {
          "type": "select",
          "id": "font_size",
          "label": "Font size",
          "default": "20px",
          "options": [
            {
              "label": "Small",
              "value": "16px"
            },
            {
              "label": "Medium",
              "value": "20px"
            },
            {
              "label": "Large",
              "value": "24px"
            }
          ]
        },
        {
          "type": "richtext",
          "id": "phone",
          "label": "Phone Number"
        },
        {
          "type": "image_picker",
          "id": "phone_logo",
          "label": "Phone Logo"
        },
        {
          "type": "richtext",
          "id": "location",
          "label": "Location"
        },
        {
          "type": "image_picker",
          "id": "location_logo",
          "label": "Location logo"
        },
        {
          "type": "richtext",
          "id": "instagram",
          "label": "Instagram"
        },
        {
          "type": "image_picker",
          "id": "instagram_logo",
          "label": "Instagram logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sub_Footer",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
