<style>
 .social-media-header{
   
 }

  .social-media-logo_container{
    width: 60px;
    height: 60px;
  }

</style>

  <div class="social-media-header">
     <div class="social-media-logo_container">
        {%- if section.settings.social_media_logo != blank -%}
            {{
              section.settings.social_media_logo
              | image_url: width: 600
              | image_tag: height: 40, alt: section.settings.social_media_logo.alt, preload: true
            }}
        {%- else -%}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
        {%- endif -%}
      <div/>
        
    {%- if section.settings.section_title != blank -%}
        <h2>{{ section.settings.section_title }}</h2>
    {%- endif -%}
  </div>

  <div class="social-media-image-container">
    {%- for block in section.blocks -%}
      <div class="image-container" {{ block.shopify_attributes }}>
          {%- if block.settings.media_image != blank -%}
            {{
              block.settings.media_image
              | image_url: width: 600
              | image_tag: height: 160, alt: block.settings.media_image.alt, preload: true
            }}
          {%- else -%}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
      </div>
    {%- endfor -%}
  </div>

{% schema %}
{
  "name": "Social Media Image",
  "tag": "section",
  "class": "social-media-image-section shopify-section page-width",
  "settings": [
    {
      "type": "image_picker",
      "id": "social_media_logo",
      "label": "Staff image"
    },
    {
      "type": "richtext",
      "id": "section_title",
      "label": "Section Title"
    }
  ],
  "blocks": [
    {
      "name": "Social Media",
      "type": "title",
      "settings": [
        {
          "type": "image_picker",
          "id": "media_image",
          "label": "Staff image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Social Media",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}