{{ 'social-media-images.css' | asset_url | stylesheet_tag }}

<style>
  #section-{{ section.id }} {
    background: {{ section.settings.background }};
    padding-top: {{ section.settings.section_padding_y }}px;
    padding-bottom: {{ section.settings.section_padding_y }}px;
    padding-left: {{ section.settings.section_padding_x }}px;
    padding-right: {{ section.settings.section_padding_x }}px;
    color: {{ section.settings.text_color }};
  }
  
  .section-title h2{
    font-size: {{ section.settings.font_size }}px;
  }

  @media only screen and (max-width: 48em) {
    .section-title h2{
    font-size: 16px;
  }
    
    .image-container img{
      max-width: 150px;
      max-height: 150px;
    }
  }
</style>
<div id="section-{{ section.id }}">
  <div class="social-media-header">
    <div class="social-media-logo_container"> 
      {%- if section.settings.social_media_logo != blank -%} 
        {{ section.settings.social_media_logo 
          | image_url: width: 600
          | image_tag: height: 20, alt: section.settings.social_media_logo.alt, preload: true
        }} 
        {%- else -%} 
          {{ 
          'logo' | placeholder_svg_tag: 'placeholder-svg' 
          }} 
        {%- endif -%} 
    </div>
      <div class="section-title"> 
        {%- if section.settings.section_title != blank -%}
          {{ section.settings.section_title }}
        {%- endif -%}
      </div>
  </div>

  <div class="social-media-image-container">
    {%- for block in section.blocks -%}
      <div class="image-container" {{ block.shopify_attributes }}>
          {%- if block.settings.media_image != blank -%}
            {{
              block.settings.media_image
              | image_url: width: 600
              | image_tag: height: 260, alt: block.settings.media_image.alt, preload: true
            }}
          {%- else -%}
            {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' }}
          {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Social Media Section",
  "tag": "section",
  "class": "social-media-image-section shopify-section page-width",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "social_media_logo",
      "label": "Title Logo"
    },
    {
      "type": "richtext",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "Font size",
      "default": "20px",
      "options": [
        {
          "label": "Small",
          "value": "16px"
        },
        {
          "label": "Medium",
          "value": "20px"
        },
        {
          "label": "Large",
          "value": "24px"
        }
      ]
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#1c1b1b"
    },
    {
      "type": "range",
      "id": "section_padding_y",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Top & Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "section_padding_x",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Left & Right",
      "default": 0
    }
  ],
  "blocks": [
    {
      "name": "Social Media",
      "type": "title",
      "settings": [
        {
          "type": "image_picker",
          "id": "media_image",
          "label": "Social Media Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Social Media",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}