{{ 'testimonials.css' | asset_url | stylesheet_tag }}

<div class="testimonials-header">
  {%- if section.settings.title != blank -%}
    <div class="header-line"> 
      <div class="line"></div>
      <h2>{{ section.settings.title }}</h2>
      <div class="line"></div>
    </div>
  {%- endif -%}
  
  {%- if section.settings.section_description != blank -%}
    {{ section.settings.section_description }}
  {%- endif -%}
</div>


<div class="swiper testimonials-slider">
  <div class="swiper-wrapper">
    {%- for block in section.blocks -%}
      <div class="swiper-slide testimonials" {{ block.shopify_attributes }}>
        <div class="testimonials-box">
          {%- if block.settings.star_rating != blank -%}
              <div class="star-rating" style="--star-rating: {{ block.settings.star_rating }};"></div>
            {%- endif -%}
        
          {%- if block.settings.description != blank -%}
            <div class="testimonials_description">
              {{ block.settings.description -}}
            </div>
          {%- endif -%}
        
          {%- if block.settings.title != blank -%}
            <div class="author-name">{{ block.settings.title }}</div>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </div>
  <div class="swiper-pagination"></div>
</div>

{%- if section.settings.review_button != blank -%}
  <div class="button-container">
    <a {% if section.settings.button_link == blank %}
    role="link" aria-disabled="true"
    {% else %}
    href="{{ section.settings.button_link }}"
    {% endif %} class="button{% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">{{ section.settings.review_button }}</a>
  </div>
  {%- endif -%}
  
<script>
  addEventListener('DOMContentLoaded', (event) => {
    var swiper = new Swiper('.testimonials-slider', {
      scrollbar: {
        draggable: true,
      },
      loop: true,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
      },
      autoplay: {
        delay: 4500,
        disableOnInteraction: false,
      },
      breakpoints: {
        // when window width is >= 768px (48em)
        768: {
          slidesPerView: 3,
        },
        // when window width is < 768px (48em)
        0: {
          slidesPerView: 2,
        }
      }
    });
  });
</script>

{% schema %}
{
  "name": "Testimonial Slider",
  "tag": "section",
  "class": "testimonials-section shopify-section page-width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "OUR REVIEWS"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "Section Description"
    },
    {
      "type": "richtext",
      "id": "review_button",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
    }
  ],
  "blocks": [
    {
      "name": "Testimonial",
      "type": "title",
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Testimonial text"
        },
        {
          "type": "select",
          "id": "star_rating",
          "label": "Star Rating",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "3",
              "label": "3 out of 5"
            },
            {
              "value": "3.5",
              "label": "3.5 out of 5"
            },
            {
              "value": "4",
              "label": "4 out of 5"
            },
            {
              "value": "4.5",
              "label": "4.5 out of 5"
            },
            {
              "value": "5",
              "label": "5 out of 5"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Author's name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}
