<style>
  .testimonials-section{
    padding-top: 36px;
    padding-bottom: 36px;
  }
  
  .testimonials-header{
    text-align: center;
  }

  .testimonials-header h2{
    letter-spacing: 2px;
    font-size: 30px;
    font-family: Arial, sans-serif;
  }

  .testimonials-header p{
    letter-spacing: 1px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: 400;
  }

  .header-line{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .line:empty {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
    display: block;
  }

  .swiper-wrapper {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  
  .star-rating:empty {
  --star-percent: calc(var(--star-rating) / 5 * 100%);
  display: inline-block;
  font-size: 16px;
  }

  .star-rating:before {
    content: "\2605\2605\2605\2605\2605";
    background: linear-gradient(
      90deg,
      #f1b824 var(--star-percent),
      #e1e1e1 var(--star-percent)
    );
    background-clip: text;
    color: transparent;
  }

  .testimonials-box{
    background-color: #F4F4F4;
    border-radius: 10px;
    max-width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
    padding-left: 35px;
    text-align: center;
  }

  .swiper-slide.testimonials,
  .swiper-slide.testimonials.swiper-slide-active,
  .swiper-slide.testimonials.swiper-slide-prev{
    opacity: 0.5;
  }

  .swiper-slide.testimonials.swiper-slide-next{
    opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
    background: black;
    height: 10px;
    width: 10px;
  }

  .author-name{
    font-weight: 700;
  }

  .button-container{
    display:flex;
    justify-content: center;
    margin-top: 20px;
  }

  .review-button{
    
  }
</style>

<div class="testimonials-header">
  {%- if section.settings.title != blank -%}
    <div class="header-line"> 
      <div class="line"></div>
      <h2>{{ section.settings.title }}</h2>
      <div class="line"></div>
    </div>
  {%- endif -%}
  
  {%- if section.settings.section_description != blank -%}
    {{ section.settings.section_description }}
  {%- endif -%}
</div>


<div class="swiper testimonials-slider">
  <div class="swiper-wrapper">
    {%- for block in section.blocks -%}
      <div class="swiper-slide testimonials" {{ block.shopify_attributes }}>
        <div class="testimonials-box">
          {%- if block.settings.star_rating != blank -%}
              <div class="star-rating" style="--star-rating: {{ block.settings.star_rating }};"></div>
            {%- endif -%}
        
          {%- if block.settings.description != blank -%}
            <div class="testimonials_description">
              {{ block.settings.description -}}
            </div>
          {%- endif -%}
        
          {%- if block.settings.title != blank -%}
            <div class="author-name">{{ block.settings.title }}</div>
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  </div>
  <div class="swiper-pagination"></div>
</div>

{%- if section.settings.review_button != blank -%}
  <div class="button-container">
    <button class="review-button">{{ section.settings.review_button }}</button>
  {%- if section.block.settings.button_label != blank -%}
    <a
    {% if section.block.settings.button_link == blank %}
    role="link" aria-disabled="true"
    {% else %}
    href="{{ section.block.settings.button_link }}"
    {% endif %}
    class="button{% if section.block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">
  {{ section.block.settings.button_label | escape }}
</a>
{%- endif -%}
  </div>
  {%- endif -%}


<script>
  addEventListener('DOMContentLoaded', (event) => {
    var swiper = new Swiper('.testimonials-slider', {
      scrollbar: {
        draggable: true,
      },
      loop: true,
      slidesPerView: 3,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
      },
      autoplay: {
        delay: 4500,
        disableOnInteraction: false,
      },
    });
  });
</script>

{% schema %}
{
  "name": "Testimonial Slider",
  "tag": "section",
  "class": "testimonials-section shopify-section page-width",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "OUR REVIEWS"
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "Section Description"
    },
    {
      "type": "richtext",
      "id": "review_button",
      "label": "Button Text"
    }
  ],
  "blocks": [
    {
      "name": "Testimonial",
      "type": "title",
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Testimonial text"
        },
        {
          "type": "select",
          "id": "star_rating",
          "label": "Star Rating",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "3",
              "label": "3 out of 5"
            },
            {
              "value": "3.5",
              "label": "3.5 out of 5"
            },
            {
              "value": "4",
              "label": "4 out of 5"
            },
            {
              "value": "4.5",
              "label": "4.5 out of 5"
            },
            {
              "value": "5",
              "label": "5 out of 5"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Author's name"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "Button style"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}
