{{ 'testimonials.css' | asset_url | stylesheet_tag }}

<style>
  
  #section-{{ section.id }} {
    background: {{ section.settings.background }};
    padding-top: {{ section.settings.section_padding_y }}px;
    padding-bottom: {{ section.settings.section_padding_y }}px;
    padding-left: {{ section.settings.section_padding_x }}px;
    padding-right: {{ section.settings.section_padding_x }}px;
    color: {{ section.settings.text_color}};
  }
  
  .testimonials-header h3{
    font-size: {{ section.settings.header_font_size }};
  }

  .testimonials-header p{
    font-size: {{ section.settings.sub_header_font_size }};
  }

  .author-name{
    font-size: {{ section.blocks.settings.font_size }};
  }

  .testimonials_description{
    font-size: {{ section.blocks.settings.font_size }};
    
  }

  
    .social-media-logo_container img{
      max-height: 25px;
    }

  .line:empty{
    width: 100px;
  }

  .text-and-line-container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  
  @media only screen and (max-width: 48em) {
    .testimonials-header h3{
      font-size: 20px;
    }

    .testimonials-header p{
      font-size: 16px;
    }

    .line:empty{
    width: 50px;
  }
    
  }

</style>

<div id="section-{{ section.id }}">
  <div class="testimonials-header">
    <div class="text-and-line-container"> 
        <div class="line"></div>
          {%- if section.settings.sub_title != blank -%}
                <div class="header-line"> 
                  <h3>{{ section.settings.sub_title }}</h3>
                </div>
          {%- endif -%}
          <div class="social-media-logo_container"> 
            {%- if section.settings.social_media_logo != blank -%} 
              {{ section.settings.social_media_logo 
                | image_url: width: 600
                | image_tag: height: 25, alt: section.settings.social_media_logo.alt, preload: true
              }} 
              {%- endif -%} 
          </div>
          {%- if section.settings.title != blank -%}
            <div class="more-info-header"> 
              <h3>{{ section.settings.title }}</h3>
            </div>
          {%- endif -%}
        <div class="line"></div>
    </div>
    {%- if section.settings.section_description != blank -%}
      {{ section.settings.section_description }}
    {%- endif -%}
  </div>
  
  
  <div class="swiper testimonials-slider">
    <div class="swiper-wrapper">
      {%- for block in section.blocks -%}
        <div class="swiper-slide testimonials" {{ block.shopify_attributes }}>
          <div class="testimonials-box">
            {%- if block.settings.star_rating != blank -%}
                <div class="star-rating" style="--star-rating: {{ block.settings.star_rating }};"></div>
              {%- endif -%}
          
            {%- if block.settings.description != blank -%}
              <div class="testimonials_description">
                {{ block.settings.description -}}
              </div>
            {%- endif -%}
          
            {%- if block.settings.title != blank -%}
              <div class="author-name">{{ block.settings.title }}</div>
            {%- endif -%}
          </div>
        </div>
      {%- endfor -%}
    </div>
    <div class="swiper-pagination"></div>
  </div>
  {%- if section.settings.review_button != blank -%}
    <div class="button-container">
      <a {% if section.settings.button_link == blank %}
      role="link" aria-disabled="true"
      {% else %}
      href="{{ section.settings.button_link }}"
      {% endif %} class="button{% if section.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}">{{ section.settings.review_button }}</a>
    </div>
    {%- endif -%}
</div>

<script>
  addEventListener('DOMContentLoaded', (event) => {
    var autoplayEnabled = {{ section.settings.autoplay | json }};
    
    var swiperOptions = {
      scrollbar: {
        draggable: true,
      },
      loop: true,
      spaceBetween: 30,
      pagination: {
        el: ".swiper-pagination",
      },
      breakpoints: {
        // when window width is >= 768px (48em)
        768: {
          slidesPerView: 3,
        },
        // when window width is < 768px (48em)
        0: {
          slidesPerView: 1,
        }
      }
    };
    
    if (autoplayEnabled) {
      swiperOptions.autoplay = {
        delay: 4500,
        disableOnInteraction: false,
      };
    }
    
    var swiper = new Swiper('.testimonials-slider', swiperOptions);
  });
</script>


{% schema %}
{
  "name": "Testimonial Slider",
  "tag": "section",
  "class": "testimonials-section shopify-section page-width",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "sub_title",
      "label": "Section Title",
      "default": "OUR"
    },
    {
          "type": "image_picker",
          "id": "social_media_logo",
          "label": "Social Media Image"
        },
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "REVIEWS"
    },
    {
      "type": "select",
      "id": "header_font_size",
      "label": "Font size",
      "default": "30px",
      "options": [
        {
          "label": "Small",
          "value": "20px"
        },
        {
          "label": "Medium",
          "value": "25px"
        },
        {
          "label": "Large",
          "value": "30px"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "section_description",
      "label": "Section Description"
    },
    {
      "type": "select",
      "id": "sub_header_font_size",
      "label": "Description Font size",
      "default": "18px",
      "options": [
        {
          "label": "Small",
          "value": "16px"
        },
        {
          "label": "Medium",
          "value": "18px"
        },
        {
          "label": "Large",
          "value": "20px"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "review_button",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "checkbox",
      "id": "button_style_secondary",
      "default": false,
      "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#1c1b1b"
    },
    {
      "type": "range",
      "id": "section_padding_y",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Top & Bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "section_padding_x",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Section Padding Left & Right",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Enable Autoplay",
      "default": true
    }
  ],
  "blocks": [
    {
      "name": "Testimonial",
      "type": "title",
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Testimonial text"
        },
        {
          "type": "select",
          "id": "star_rating",
          "label": "Star Rating",
          "options": [
            {
              "value": "",
              "label": "None"
            },
            {
              "value": "3",
              "label": "3 out of 5"
            },
            {
              "value": "3.5",
              "label": "3.5 out of 5"
            },
            {
              "value": "4",
              "label": "4 out of 5"
            },
            {
              "value": "4.5",
              "label": "4.5 out of 5"
            },
            {
              "value": "5",
              "label": "5 out of 5"
            }
          ]
        },
        {
          "type": "text",
          "id": "title",
          "label": "Author's name"
        },
        {
          "type": "select",
          "id": "font_size",
          "label": "Font size",
          "default": "20px",
          "options": [
            {
              "label": "Small",
              "value": "16px"
            },
            {
              "label": "Medium",
              "value": "20px"
            },
            {
              "label": "Large",
              "value": "24px"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonial",
      "blocks": [
        {
          "type": "title"
        },
        {
          "type": "title"
        },
        {
          "type": "title"
        }
      ]
    }
  ]
}
{% endschema %}
